<!DOCTYPE html>
<html>
<head>
	<title>cpratim</title>
	<link rel='stylesheet' href='../static/css/index.css'>
	<link rel='stylesheet' href='../static/css/common.css'>
</head>
<body>

	<div id='cine'></div>
	<div id='disc'>
		Note: The background is the live code written to run the site. If you reload it, it will change
	</div>
	<div id='center-box'>
		<div id='profile-pic'>
		</div>
		<div id='text-wrapper'>
			<div id='name-header'>Pratim Chowdhary</div>
			<div id='menu'>
				<div class='button'>home</div>
				<a href='/projects'><div class='button'>projects</div></a>
				<a href='/resume'><div class='button'>resume</div></a>
				<a href='/about'><div class='button'>about</div></a>

			</div>
		</div>
	</div>


<script src ="../static/js/index.js"></script>

</body>
</html>
