<!DOCTYPE html>
<html>
<head>
	<title>cpratim</title>
	<link rel='stylesheet' href='../static/css/index.css'>
	<style>
		.gist {
			width: 50vw;
			height: 40vh;
			margin-left: 10vw;
		}
	</style>
</head>
<body>
	<code>
		
@app.route('/')
def index():
    
    cines = load_cines()
    return render_template('index.html', cines=cines)

@app.route('/projects')
def projects():
    _projects = get_projects()
    return render_template('projects.html', _projects=_projects)

@app.route('/projects_json')
def projects_json():
    return send_file('projects.json')

@app.route('/resource', methods=['GET', 'POST'])
def testing():
    if request.method == 'POST':
        file = request.headers['file']
        return jsonify(load_file(file))

@app.route('/cinematics')
def cinematics():
    code = one_block()
    return jsonify(code)

@app.route('/resume')
def resume():
    return send_file('static/misc/resume.pdf')

if __name__ == '__main__':
    app.run(threaded=True, port=5000)
	</code>
</body>

</html>
